@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
:root {
  font-family: "Pixelify Sans", sans-serif;

  --primary: #222323;
  --secondary: #f0f6f0;
}
body {
  background-color: var(--primary);
}